p{
color: red;
}
.Formulario
{

  width: 20rem;

}
label{
  margin:0.5rem
}
#padre{
  background-color: green;
  display: flex;
  flex-direction:column; /* filas*/
  flex-wrap: wrap;
  height: 19rem;
  width: 25rem;
  justify-content: center;
   align-content: center;
  border-radius: 5%;
}
input,button{
  margin-bottom: 1rem;
}


